@font-face {
    font-family: 'odin';
    src: url('Norse-Bold.otf')format('opentype');
  }

* {
    margin: 0;
    padding: 0;
}

:root {
    --img-container-width: 33vw;
    --login-container-width: calc(100% - var(--img-container-width));
    --form-height: 33vh;
}

body {
    display: flex;
}

.image-container {
    display: flex;
    position: absolute;
    height: 100vh;
    width: var(--img-container-width);
    justify-content: center;
}

.image-container > img{
    width: 100%;
}

.image-container > .image-footer {
    position: absolute;
    bottom: 1%;
    color: white;
}

.logo-container {
    display: flex;
    width: var(--img-container-width);
    height: 16vh;
    margin-top: 17vh;
    background-color: rgba(0, 0, 0, .6);
    justify-content: center;
    align-items: center;
    font-size: 125px;
    color: white;
    font-family: 'odin';
    position: absolute;
}

.logo-container > img {
    height: 90%;
}

.login-container {
    border: 2px solid blue;
    height: 100vh;
    width: var(--login-container-width);
}

.quote {
    border: 2px solid green;
    height: var(--form-height);
}

.form-container {
    border: 2px solid black;
    height: var(--form-height)
}

.buttons {
    border: 2px solid yellow;
    height: var(--form-height);
}